{% extends 'base.html.twig' %}

{% block title %}Inscription!{% endblock %}

{% block body %}
<div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class="w-100">
            {{ form_start(userForm) }}
            <div class="row">
                <div class="col">
                    {{ form_row(userForm.firstName) }}
                </div>
                <div class="col">
                    {{ form_label(userForm.lastName) }}
                    {{ form_widget(userForm.lastName) }}
                    <span class="text-danger">{{ form_errors(userForm.lastName) }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(userForm.birthDate) }}
                </div>
            </div>
            {{ form_end(userForm) }}
        </div>
    </section>
</div>
{% endblock %}